<%- include('../template/start.ejs') %>
<%- include('../template/navbar.ejs') %>

<!-- FLOATING SIDEBAR -->
<nav class="floating-menu">
  <ul class="side-menu">
    <li>
      <a href="/feed" class="ripple" title="Home" id="home-link">
        <i class="fas fa-home fa-lg"></i>
      </a>
    </li>
    <li>
      <a href="/profile" class="ripple active" title="Profile" id="profile-link">
        <i class="fas fa-user fa-lg"></i>
      </a>
    </li>
    <li>
      <a href="/posting" class="ripple" title="Add post" id="add-post-link">
        <i class="fas fa-plus fa-lg"></i>
      </a>
    </li>
    <li>
      <a href="#" class="ripple" title="Settings" id="settings-link">
        <i class="fas fa-gears fa-lg"></i>
      </a>
    </li>
    <li>
      <a href="/logout" class="ripple" title="Logout" id="logout-link">
        <i class="fas fa-right-from-bracket fa-lg"></i>
      </a>
    </li>
  </ul>
  <div class="side-menu-bg"></div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const active = document.querySelectorAll(".side-menu li a");

    active.forEach((link) => {
      link.addEventListener("click", function () {
        active.forEach((l) => l.classList.remove("active"));
        this.classList.add("active");
      });
    });
  });
</script>

<!-- MAIN CONTENT -->
<div class="container pt-3">
    <div class="row d-flex justify-content-center">
      <% if (message) { %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= message %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% } %>
        <h1>MY PROFILE</h1>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                  <img src="/gambar/default.jpg" class="img-fluid rounded-start">
              </div>
              <div class="col-md-8">
                  <div class="card-body">
                      <a href="/profile/edit" class="btn btn-primary-outline float-end">
                          <i class="fas fa-edit"></i>
                      </a>
                      <h5 class="card-title"><%= req.session.user[0].nama_lengkap %></h5>
                      <p class="card-title"><small class="text-body-tertiary">Username : <%= req.session.user[0].username %></small></p>
                      <p class="card-text"><%= req.session.user[0].bio %></p>
                      <p class="card-text"><small class="text-body-tertiary">Last updated : <%= moment(req.session.user[0].last_update).format('DD MMM YY HH:mm') %></small></p>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>

<%- include('../template/end.ejs') %>
