<%- include('../template/start.ejs') %> <%- include('../template/navbar.ejs') %>

<!-- FLOATING SIDEBAR -->
<nav class="floating-menu">
  <ul class="side-menu">
    <li>
      <a href="/feed" class="ripple active" title="Home" id="home-link">
        <i class="fas fa-home fa-lg"></i>
      </a>
    </li>
    <li>
      <a href="/profile" class="ripple" title="Profile" id="profile-link">
        <i class="fas fa-user fa-lg"></i>
      </a>
    </li>
    <li>
      <a href="/posting" class="ripple" title="Add post" id="add-post-link">
        <i class="fas fa-plus fa-lg"></i>
      </a>
    </li>
    <li>
      <a href="#" class="ripple" title="Settings" id="settings-link">
        <i class="fas fa-gears fa-lg"></i>
      </a>
    </li>
    <li>
      <a href="/logout" class="ripple" title="Logout" id="logout-link">
        <i class="fas fa-right-from-bracket fa-lg"></i>
      </a>
    </li>
  </ul>
  <div class="side-menu-bg"></div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const active = document.querySelectorAll(".side-menu li a");

    active.forEach((link) => {
      link.addEventListener("click", function() {
        active.forEach((l) => l.classList.remove("active"));
        this.classList.add("active");
      });
    });
  });
</script>

<!-- ALBUMS -->
<div class="album py-5">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-7">
        <% if (message) { %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= message %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>
        <% for( let i=0; i < postingan.length; i++ ) { %>
        <%
              let carousel_active1 = ''
              let carousel_active2 = ''
              let carousel_active3 = ''
              if (postingan[i].file1) {
                  carousel_active1 = 'active'
                  carousel_active2 = ''
                  carousel_active3 = ''
              }
              else if (postingan[i].file2) {
                  carousel_active1 = ''
                  carousel_active2 = 'active'
                  carousel_active3 = ''
              }
              else if (postingan[i].file3) {
                  carousel_active1 = ''
                  carousel_active2 = ''
                  carousel_active3 = 'active'
              }
          %>
        <div class="card shadow-sm mb-5">
          <div>
            <img src="/upload/<%= postingan[i].foto %>" class="rounded-circle p-2" height="50" style="object-fit: cover;" alt="...">
            <b><%= postingan[i].username %></b>
            <span class="float-end p-3">
              <i class="fa-solid fa-ellipsis"></i>
            </span>
          </div>
          <div id="carouselExample<%= postingan[i].id %>" class="carousel slide bg-dark">
            <div class="carousel-inner">
              <% if (postingan[i].file1) { %>
              <div class="carousel-item <%= carousel_active1 %>">
                <img src="<%= postingan[i].file1 %>" class="d-block w-100" height="350" style="object-fit: contain;" alt="...">
              </div>
              <% } %>
              <% if (postingan[i].file2) { %>
              <div class="carousel-item <%= carousel_active2 %>">
                <img src="<%= postingan[i].file2 %>" class="d-block w-100" height="350" style="object-fit: contain;" alt="...">
              </div>
              <% } %>
              <% if (postingan[i].file3) { %>
              <div class="carousel-item <%= carousel_active3 %>">
                <img src="<%= postingan[i].file3 %>" class="d-block w-100" height="350" style="object-fit: contain;" alt="...">
              </div>
              <% } %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample<%= postingan[i].id %>" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample<%= postingan[i].id %>" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="card-body">
            <p class="card-text"><b><%= postingan[i].username %></b> <%= postingan[i].caption %></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  <i class="fa-regular fa-thumbs-up"></i>
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  <i class="fa-regular fa-comment"></i>
                </button>
              </div>
              <small class="text-body-secondary"><%= moment(postingan[i].created_at).startOf('minute').fromNow() %></small>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>

<%- include('../template/end.ejs') %>